## List

### 1.list is nothing but collection of different data typesof data
like array in c language

In [11]:
l=[]
type(l),l

(list, [])

In [40]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [41]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### indexing in list

In [42]:
l[0]

1

In [43]:
l[-1]

[1, 2, 3]

In [44]:
l[-2]

True

In [45]:
l[10]

IndexError: list index out of range

### list slicing

In [46]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [47]:
l[2:4]

['hello', 3.4]

In [48]:
l[-2]

True

In [49]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [50]:
l[-1][::-1]

[3, 2, 1]

In [51]:
l[::2]

[1, 'hello', True]

In [52]:
l[0] = 10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [53]:
del l[0]
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [54]:
l[1]=5
l

[2, 5, 3.4, True, [1, 2, 3]]

In [56]:
len(l)

5

In [61]:
marks = [6,3,7,4,2]
min(marks)

2

In [62]:
max(marks)

7

In [63]:
sum(marks)

22

In [64]:
sorted(marks)

[2, 3, 4, 6, 7]

In [67]:
sorted(marks, reverse= True)

[7, 6, 4, 3, 2]

In [68]:
sum(marks)//len(marks)

4

In [69]:
marks+[10,20]

[6, 3, 7, 4, 2, 10, 20]

In [70]:
marks

[6, 3, 7, 4, 2]

In [71]:
marks * 2

[6, 3, 7, 4, 2, 6, 3, 7, 4, 2]

### list methods

In [72]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [89]:
marks.append(10)

In [86]:
marks

[6, 3, 7, 4, 2, 10, 10, 10, 20, 30, 10, 10, 10]

In [80]:
marks.extend([20,30])

In [83]:
marks

[6, 3, 7, 4, 2, 10, 10, 10, 20, 30, 10]

In [88]:
marks.pop(0)

6

In [90]:
marks

[3, 7, 4, 2, 10, 10, 10, 20, 30, 10, 10, 10, 10]

In [91]:
marks.insert(0,10)

In [92]:

marks

[10, 3, 7, 4, 2, 10, 10, 10, 20, 30, 10, 10, 10, 10]

In [95]:
marks.index(7)

2

In [97]:
marks.reverse()

In [98]:
marks

[10, 10, 10, 10, 30, 20, 10, 10, 10, 2, 4, 7, 3, 10]

In [99]:
marks.sort()
marks

[2, 3, 4, 7, 10, 10, 10, 10, 10, 10, 10, 10, 20, 30]

In [100]:
marks.count(10)

8

In [101]:
marks.count(-1)

0

In [102]:
marks2 = marks.copy()
marks2,marks

([2, 3, 4, 7, 10, 10, 10, 10, 10, 10, 10, 10, 20, 30],
 [2, 3, 4, 7, 10, 10, 10, 10, 10, 10, 10, 10, 20, 30])

In [103]:
marks2.clear()
marks2,marks

([], [2, 3, 4, 7, 10, 10, 10, 10, 10, 10, 10, 10, 20, 30])

In [105]:
for item in marks:
    print(item)

2
3
4
7
10
10
10
10
10
10
10
10
20
30

In [107]:
index = 0
while index<len(marks):
    print(marks[index])
    index += 1

2
3
4
7
10
10
10
10
10
10
10
10
20
30

In [3]:
i=0
s=0
while i<len(marks):
    print(marks[i],end=" ")
    s=s+marks[i]
    i+=1
print("\nSum=",s)

NameError: name 'marks' is not defined

In [36]:
##task1 : print the names which names ends with 'u' character 
# sample output : raghu babu 
names = "mahesh ravi raghu krish babu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name, end=" ")

raghu babu

In [112]:
names="mahesh ravi raghu krish babu"
n_list=names.split(" ")
for name in n_list:
    if(name.endswith('u')):
        print(name,end=" ")

raghu babu

In [4]:
#task2: print the name which length has maximum
#sample output : mahesh
n=input()
names=n.split()
high=""
for name in names:
    if len(name)>len(high):
        high=name
print(high)

mahesh
mahesh

In [107]:
#task3 : print tyhe names which ends with ovels(a,e,i,o,u)
#sample output : ravi raghu babu
names = "mahesh ravi raghu krish babu"
for name in n_list:
    if (name.endswith('a')):
        print(name,end=" ")
    elif (name.endswith('e')):
        print(name,end=" ")
    elif (name.endswith('i')):
        print(name,end=" ")
    elif (name.endswith('o')):
        print(name,end=" ")
    elif (name.endswith('u')):
        print(name,end=" ")

ravi raghu babu

In [5]:
#task4 : palindrome string : need to find and print whether
#this string is a palindrome or not.if yes,print "yes"
#else print "NO" (strings)
S1=input()
S2=S1[::-1]
if(S1==S2):
    print("YES")
else:
    print("NO")

LoL
YES

In [ ]:
#task5 : togggle string: you have been given a string s
#consisting of uppercase and lowercase english alplabets.
#you need to change the case of each alphabet
#in this string (strings)
sample input : HeLlo
sample output : hElLO

In [90]:
n=input()
l=len(n)
for i in range(0,l):
    if(ord(n[i])>=65 and ord(n[i])<=90):
       print(chr(ord(n[i])+32),end="")
    else:
       print(chr(ord(n[i])-32),end="")

HeLlo
hElLO

## tuple

In [ ]:
1. tuple is a immutable data type in python
2.it is also like list but it can't change once created
3.it is represented by ( (paranthesis) symbol

In [4]:
t=tuple()
t

()

In [5]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

### indexing in tuple

In [6]:
ages[0]

20

In [7]:
ages[-1]

40

### slicing in tuples

In [8]:
ages[0:2]

(20, 21)

In [20]:
len(ages)

3

In [22]:
min(ages)

20

In [23]:
max(ages)

40

In [24]:
sum(ages)

81

### tuple methods

In [25]:
ages.index(20)

0

In [26]:
ages.count(20)

1

In [28]:
x,y,z = ages

In [29]:
print(x,y,z)

20 21 40

In [30]:
ages

(20, 21, 40)

In [31]:
a = 1,2,3
a,type(a)

((1, 2, 3), tuple)

In [33]:
for item in ages:
    print(item)

20
21
40

In [34]:
for item in ages[::-1]:
    print(item)

40
21
20

In [4]:
#task-6 :
#two strings: Give two strings of equal length,you have to tell whether they both strings are identical.(string)   
#Input Format: abc cab
#Output Format:"YES"   
a=input()
b=input()
l1=len(a)
l2=len(b)
cnt=0
if(l1==l2):
    for i in range(0,l1):
        key=a[i]
        for j in range(0,l2):
            if(key==b[j]):
if(cnt==l1):
    print("YES")
else:
    print("NO")

IndentationError: expected an indented block (<ipython-input-4-f6bb7886af28>, line 15)

### set

In [43]:
s = {1,2,3}
s,type(s)

({1, 2, 3}, set)

In [44]:
s[0] #indexing not working in set

TypeError: 'set' object is not subscriptable

In [45]:
s[:]  #slicing also not working in set

TypeError: 'set' object is not subscriptable

In [46]:

len(s)

3

In [47]:
min(a)

1

In [48]:
max(s)

3

In [49]:
sum(s)

6

In [50]:
l=[1,2,4,1,3,5,5,]
set(l),l

({1, 2, 3, 4, 5}, [1, 2, 4, 1, 3, 5, 5])

In [51]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [52]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [53]:
s.add(10)

In [54]:
s

{1, 2, 3, 10}

In [55]:
s.pop()

10

In [56]:
s.remove(2)

In [57]:
s

{1, 3}

In [59]:
a={1,2,3,4}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [61]:
a.intersertion(b)

AttributeError: 'set' object has no attribute 'intersertion'

In [62]:
a.difference(b)

{1, 2}

In [64]:
b.difference(a)

{5, 6}

In [65]:
a,b

({1, 2, 3, 4}, {3, 4, 5, 6})

In [68]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [69]:
c={1}
c

{1}

In [70]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [71]:
a.isdisjoint(c)

False

In [72]:
a.issuperset(c)

True

In [ ]:
#names="mahesh ravi balu krish akash raghu"
# print the names which has duplicate characters
#output: mahesh akash